<div class="hiScores">
    <table class="hiScores--table">
        <caption><h2>Hi Scores!</h2></caption>
        <tr ng-show="saveInProgress">
            <td>
                <form ng-submit="save()">
                    <input name="name" ng-model="name">
                </form>
            </td>
            <td> {{m.gameSize|capitalize}} </td>
            <td>{{m.time}}</td>
        </tr>
        <tr ng-repeat-start="size in ['small', 'medium', 'large']">
            <th colspan=2>{{size|capitalize}}</th>
        </tr>
        <tr ng-repeat="rec in records[size] | orderBy:'score'" ng-repeat-end>
            <td>{{rec.name}}</td>
            <td>{{rec.score}}</td>
        </tr>
    </table>

    <button ng-click="clearScores()">Clear scores</button>
</div>
