<!doctype html>
<html ng-app="fladdermus"
        ng-controller="gameCtrlr"
        ng-mousedown="m.pressed = m.gameon"
        ng-mouseup="m.pressed = false"
>
<head>
    <title>Fladdermusröj</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-webstorage/angular-webstorage.js"></script>
    <script src="util.js"></script>
    <script src="gameBoard.js"></script>
    <script src="uncover.js"></script>
    <script src="fladdermus.js"></script>
</head>
<body>
    <h1>Fladdermusröj!</h1>

    <div style="float:left">
        <hi-scores></hi-scores>
    </div>
    <div style="margin: auto;">
        <div style="float: left;">
            <div>
                <score>{{m.gameBoard.numMice - m.flagged}}</score>
                <smiley-face ng-click="resetGame()" ruhroh="m.pressed && m.gameon"
                        game-status="{{m.gameStatus}}">
                </smiley-face>
                <timer></timer>
            </div>

            <div ng-mouseleave="m.gameon = false"
                     ng-mouseenter="m.gameon = true"
                     style="font-size: 0; border: 1px solid #030303"
            >
                <div ng-repeat="row in m.gameBoard.rows">
                    <board-cell gameStatus="gameStatus" ng-repeat="cell in row.cells">
                </div>
            </div>
        </div>
    </div>
    <div style="float: left; margin: 4em 0 1em 4em;">
        <h2>Game Size</h2>
        <input ng-model="m.gameSize" ng-repeat-start="size in ['small', 'medium', 'large']"
                id="radioGameSize{{size}}" type=radio name=gameSize value="{{size}}">
        <label for="radioGameSize{{size}}">{{size}}</label>
        <br ng-repeat-end>
    </div>
</body>
</html>
