<!doctype html>
<html ng-app="fladdermus"
        ng-controller="gameCtrlr"
        ng-mousedown="m.pressed = m.gameon"
        ng-mouseup="m.pressed = false"
>
<head>
    <title>Fladdermusröj</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="style.css" title="" type="text/css" >
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-webstorage/angular-webstorage.js"></script>
    <script src="util.js"></script>
    <script src="gameBoard.js"></script>
    <script src="uncover.js"></script>
    <script src="fladdermus.js"></script>
</head>
<body>
    <div class="pageHeader">
        <div class="gameInfo">
            <h1>Fladdermusröj!</h1>
            <score>{{m.gameBoard.numMice - m.flagged}}</score>
            <smiley-face ng-click="resetGame()" ruhroh="m.pressed && m.gameon"
                    game-status="{{m.gameStatus}}">
            </smiley-face>
            <timer></timer>
        </div>
    </div>
    <div class="pageContainer">
        <div class="gameContainer">

            <div ng-mouseleave="m.gameon = false"
                     ng-mouseenter="m.gameon = true"
                     class="boardContainer"
            >
                <table class="gameBoard">
                    <tr ng-repeat="row in m.gameBoard.rows">
                        <td board-cell gameStatus="gameStatus" ng-repeat="cell in row.cells"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gameControls">
            <h2>Game Size</h2>
            <input ng-model="m.gameSize" ng-repeat-start="size in ['small', 'medium', 'large']"
                    id="radioGameSize{{size}}" type=radio name=gameSize value="{{size}}">
            <label for="radioGameSize{{size}}">{{size}}</label>
            <br ng-repeat-end>
        </div>
        <hi-scores></hi-scores>
    </div>
</body>
</html>
